/* You can add global styles to this file, and also import other style files */

@import 'styles/mixins/rhythm.mixin';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: #fafafa;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-right: rhythm(5);
  padding-left: rhythm(5);

  @media (min-width: 768px) {
    padding-right: 0;
    padding-left: 0;
    max-width: 696px;
  }

  @media (min-width: 1024px) {
    max-width: 928px;
  }

  @media (min-width: 1280px) {
    max-width: 1168px;
  }

  @media (min-width: 1600px) {
    max-width: 1552px;
  }
}
