@import 'styles/mixins/rhythm.mixin';

:host {
  max-width: rhythm(75);
  display: block;
}

.entrance-form {
  &__links {
    margin-bottom: rhythm(2);
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__submit-button {
    margin-top: rhythm(2);
  }
}
