@import 'styles/mixins/rhythm.mixin';

:host {
  display: block;
}

.entrance-form {
  &__form {
    display: flex;
    flex-direction: column;
    max-width: rhythm(75);
  }

  &__submit-button {
    margin-top: rhythm(2);
  }
}
